.about {
  padding: 5rem 0 10rem;

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8rem;
  }

  &-image {
    width: 100%;

    img {
      width: 100%;
    }
  }

  &-content {
    max-width: 56rem;
    width: 100%;
  }

  &-desc {
    margin-bottom: 4rem;
  }
}

@media screen and (max-width: 767px) {
  .about-container {
    display: flex;
    flex-direction: column;
  }
}
