.check {
  &-form {
    position: relative;
    z-index: 900000000;
    margin-bottom: -10rem;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6rem 5rem 5rem;
    background-image: linear-gradient(
      226.12deg,
      #f79056 11.25%,
      #f3600d 85.73%
    );
    border-radius: 2rem;
  }

  &-title {
    font-size: 3.4rem;
    color: $white;
  }

  &-link {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    input {
      width: 100%;
      padding: 1.2rem 1rem 1.2rem 5.4rem;
      border-radius: 4rem;
      font-size: 1.8rem;
      border: none;
    }

    span {
      position: absolute;
      left: 1rem;
      width: 3.4rem;
      height: 3.4rem;
      border-radius: 100%;
      background-color: $orange;
      display: inline-flex;
      align-items: center;
      justify-content: center;

      i {
        color: $white;
        font-size: 1.8rem;
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .check-form {
    padding: 5rem 5rem 3rem;
    box-shadow: 0 10px 10px 0 rgb(161 104 39 / 40%);
    gap: 2rem;
    display: flex;
    flex-direction: column;
  }
  .check-title {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 767px) {
  .check-form {
    display: flex;
    flex-direction: column;
    padding: 3rem 2rem;
    text-align: center;
  }
  .check-title {
    font-size: 2rem;
  }
}
