.container {
  max-width: 117rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}
.btn {
  background-color: $orange;
  padding: 1.7rem 3.2rem;
  border-radius: 2.7rem;
  box-shadow: 0 10px 10px 0 rgb(247 154 47 / 15%);

  font-size: 1.7rem;
  font-weight: 700;
  border-style: solid;
  border-width: 0.1rem;
  border-color: $orange;
  color: $white;
  text-transform: uppercase;

  &-primary {
    background-image: linear-gradient(
      300deg,
      #ff5800,
      #f79056,
      #ff5800
    ) !important;
    border-style: solid;
    box-shadow: 0 10px 10px 0 rgb(247 154 47 / 15%);
  }

  span {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    text-transform: none;

    i {
      margin-left: 1rem;
      font-size: 2rem;
    }
  }
}

.button-watch {
  position: relative;
  margin-left: 2rem;
  width: 6.3rem;
  height: 6.3rem;
  border-radius: 100%;
  background-color: $blue;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  animation: pulse 2s linear infinite;

  i {
    font-size: 2.2rem;
    color: $white;
  }

  &:after {
    position: absolute;
    content: "";
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: $blue;
    border-radius: 50%;
    opacity: 0.7;
  }
  &:before {
    animation: pulesing 2s ease-out infinite;
  }
  &:after {
    animation: pulesing 2s 1s ease-out infinite;
  }
}

@keyframes pulesing {
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

// @keyframes pulse {
//   0% {
//     box-shadow: 0 0 0 0 rgb(20 195 191 / 29%);
//   }
//   40% {
//     box-shadow: 0 0 0 2.3rem rgb(20 195 191 / 29%);
//   }
//   80% {
//     box-shadow: 0 0 0 2.3rem rgb(20 195 191 / 0.7);
//   }
//   100% {
//     box-shadow: 0 0 0 0rem rgb(20 195 191 / 0.5);
//   }
// }

.service-title {
  font-size: 2rem;
  color: $black;
  margin-bottom: 1.5rem;
}

.heading-title {
  font-size: 1.4rem;
  color: $blue;
  font-weight: 800;
  line-height: 3rem;
  margin-bottom: 2rem;
}

.heading-title-text {
  font-size: 3rem;
  font-weight: 800;
  line-height: 3.8rem;
  margin-bottom: 2rem;
  color: $black;
}

.swiper-horizontal
  > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 1rem;
  bottom: 1rem;
  transform: translateX(-50%);
  white-space: nowrap;
  z-index: 99999999;
}

.swiper-pagination {
  z-index: 99999999;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
  transform: scale(1);
  background-color: $orange;
}

.pagination
  .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  position: relative;
  transform: translateX(-50%);
  left: 50%;
  bottom: -4rem;
  width: 100%;
  height: 100%;
}

.load-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999999999999;
  background: #000011;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.load-container img {
  width: 20rem;
  height: 20rem;
}

.load-container.fade-out {
  top: -120%;
}

@media screen and (max-width: 1279px) {
  .btn {
    padding: 1.7rem 3.2rem;
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 1023px) {
  .btn {
    font-size: 1.5rem;
  }
}

.question-boxed {
  position: relative;
  margin-bottom: 3rem;
  background-color: $white;
  box-shadow: 8px 8px 30px 0 rgb(42 67 113 / 15%);
  border-radius: 4rem;
  padding: 2rem 2rem 2rem 3rem;
  color: $black;
}

.question-boxed.active .question-text {
  height: 10rem;
}

.question-boxed.active .question-label::before {
  content: "-";
  font-size: 3.2rem;
}

.question-label {
  position: relative;
  font-size: 1.8rem;
  color: $black;

  &:before {
    position: absolute;
    content: "+";
    top: 50%;
    right: 2rem;
    font-size: 2.2rem;
    transform: translateY(-50%);
  }
}

.question-text {
  height: 0;
  overflow: hidden;
  transition: 0.5s;

  p {
    padding-top: 1rem;
  }
}

@media screen and (max-width: 1023px) {
  .question-label {
    font-size: 1.6rem;

    &:before {
      position: absolute;
      content: "+";
      top: 50%;
      right: 0rem;
      font-size: 2.2rem;
      transform: translateY(-50%);
    }
  }
}

@media screen and (max-width: 767px) {
  .question-label {
    position: relative;
    font-size: 1.7rem;
    color: $black;

    &:before {
      position: absolute;
      content: "+";
      top: 50%;

      right: 0rem;
      font-size: 2.2rem;
      transform: translateY(-50%);
    }
  }

  .btn {
    padding: 1.5rem 3rem;
  }

  .heading-title {
    margin-bottom: 1.6rem;
  }

  .heading-title-text {
    font-size: 2.5rem;
    margin-bottom: 1.6rem;
  }
}

@media screen and (max-width: 374px) {
  .question-label {
    position: relative;
    font-size: 1.6rem;
    color: $black;

    &:before {
      position: absolute;
      content: "+";
      top: 50%;

      right: 0rem;
      font-size: 2.2rem;
      transform: translateY(-50%);
    }
  }
}
