$orange: #f47a14;
$black: #444444;
$grey-light: #7a7a7a;
$white: #ffffff;
$blue: #14c3bf;
$text-orange: #ff5800;
$grey: #696687;
$font-Rubik: "Rubik", sans-serif;
$font-Nunito: "Nunito", sans-serif;
$black-dark: #3b3663;
